<!DOCTYPE html>
<html>
  <div class="home-callout text-center container-fluid">
    <h1>Lestley A. Gabo</h1>
    <h3>This page contains links to my LinkedIn, GitHub, and HackerRank profiles.</h3>
    <h3>It also contains links to my projects, completed or otherwise.</h3>
  </div>
  
  <!----------------------------------------------------------------------------->
  
  <!-- https://codemyui.com/fancy-button-effects/ -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="well text-center">
           <a href="#" class="btn2">LinkedIn</a>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, facilis, dolore, laboriosam necessitatibus fugiat exercitationem facere asperiores nobis nesciunt corrupti atque saepe commodi placeat quia tenetur ea veritatis cum fugit!
        </div>
      </div>
      <div class="col-md-3">
        <div class="well text-center">
           <a href="#" class="btn2">GitHub</a>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, facilis, dolore, laboriosam necessitatibus fugiat exercitationem facere asperiores nobis nesciunt corrupti atque saepe commodi placeat quia tenetur ea veritatis cum fugit!
        </div>
      </div>
      <div class="col-md-3">
        <div class="well text-center">
           <a href="#" class="btn2">HackerRank</a>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, facilis, dolore, laboriosam necessitatibus fugiat exercitationem facere asperiores nobis nesciunt corrupti atque saepe commodi placeat quia tenetur ea veritatis cum fugit!
        </div>
      </div>
      <div class="col-md-3">
        <div class="well text-center">
           <a href="#" class="btn2">DevMatch</a>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, facilis, dolore, laboriosam necessitatibus fugiat exercitationem facere asperiores nobis nesciunt corrupti atque saepe commodi placeat quia tenetur ea veritatis cum fugit!
        </div>
      </div>
    </div>
  </div>
  
</html>