  <!--<h4>This page contains links to my LinkedIn, GitHub, and HackerRank profiles.</h4>-->
  <!--<h4>It also contains links to my projects, completed or otherwise.</h4>-->
  <div class="container text-center">
    <h1 ><strong> Profiles </strong></h1>
    <div class="row">  
      <div class="col-md-4">
        <%= link_to "//www.linkedin.com/in/lestgabo/", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
          <i class= "fa fa-linkedin-square"></i>
          LinkedIn
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "//github.com/lestgabo", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
          <i class= "fa fa-github-square"></i>
          GitHub
        <% end %>
      </div>
      <div class="col-md-4">
        <%= link_to "//www.hackerrank.com/beeftosino", class:"hvr-float-shadow", rel:"nofollow noopener", target: "_blank" do %>
          <i class= "fa fa-h-square"></i>
          HackerRank
        <% end %>
      </div>
    </div>
  </div> <!-- /div row of Container for Profiles -->


<!----------------------------------------------------------------------------->


   

    
    

