<div class="home-callout text-center container-fluid">
  <h1>Lestley A. Gabo</h1>
  <h3>This page contains links to my LinkedIn, GitHub, and HackerRank profiles.</h3>
  <h3>It also contains links to my projects, completed or otherwise.</h3>
</div>

<!----------------------------------------------------------------------------->

<!-- https://codemyui.com/fancy-button-effects/ -->
<div class="wrap">
  <a href="#" class="btn">Cool Button</a>
  <a href="#" class="btn2">Cool Button</a>
  <a href="#" class="btn3">Cool Button</a>
  <a href="#" class="btn4">Cool Button</a>
  <a href="#" class="btn5">Cool Button</a>
  <a href="#" class="btn6">Cool Button</a></a>
</div>
