<!DOCTYPE html>

<html>
  <head></head>
  <body>
    <p>You have received a message from your online portfolio Contact Lestley from
    <%= "#{@email}." %></p>
    <p><%= @body %></p>
  </body>
</html>