
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'hover';

// Typography Styles
h1, h2, h3, h4, label, a {
  font-family: 'Open Sans', sans-serif;
  // text-shadow:  -1.5px  1.5px 0 #000,
		//             1.5px  1.5px 0 #000,
		//             1.5px -1.5px 0 #000,
  //               -1.5px -1.5px 0 #000;
                
  // text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  // black but not too black hex color
  color: #323232;
}

h2 {
  font-weight: bold;
}

body {
  font-weight: bold;
}

// size of profile icons
.fa {
  font-size: 120px;
}

// resizing the svg icon of playstation and hackerrank
svg:not(:root) {
  overflow: hidden;
  width: 110px;
  // height: 110px;
}

.hackerrank {
  margin-top: 0px;
}

// tabs, using padding to make tabs
// h2 {
//   padding-left: 1em;
// }
// h4 {
//   padding-left: 3em;
// }


.alert-width {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

///////////////// Nav Styles

// the button that appears when zoomed in
.navbar-toggle {
  // display: inline-block;
  float: none;
}

// Background gradient
.navbar, .home-callout, .home-callout-contact,
.not-name-container, .home-callout-parts, .home-callout-projects {
  //Gradient provided by @_ighosh at uiGradients.com
  // ServQuick from uiGradients.com
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: blue;
}

// active nav-bar color
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active 
  > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background: #ece9e6;
    // background: #ece9e6; /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    mix-blend-mode: darken;
    padding-bottom: 20px;
}

.navbar-static-top {
  margin-bottom: 0;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0px;
  padding: 0px 50px;
}

.nav-item {
  padding: 0px 0px;
}
.navbar-test {
  border-radius: 100px;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ece9e6, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ece9e6, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  border: none;
}

.navbar-default {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    // margin: 0px 0px;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding: 0px 10px;
    margin: 0px 10px;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a {
  color: #323232;
  &:hover {
    color: #191919;
    //opacity: 0.75;
  }
}

// navbar when minimizing screen
.navbar-default .navbar-toggle .icon-bar {
  background-color: #323232;
}

.navbar-default .navbar-toggle {
  // border: 2px #323232;
  &:hover, &:focus {
    background-color: #191919;
    color: #191919;
  }
}

///////////////////////////// Homepage Styles
.jumbotron {
  // background color becomes not white
  background-color: inherit;
  
  // too much space from name to profile
  margin-bottom: 0px;
}

// contact page well
#contact-h1 {
  margin-top: 0px;
}

// style of container for the contact page
// padding-bottom=360.50px so it reaches the bottom of a 1920x1080 monitor
.home-callout-contact, .home-callout-parts {
  margin-top: -10px;
  padding-top: 30px;
  // padding-bottom: 360.50px;
  // padding-bottom: 200px;
  padding-left: 0px;
  padding-right: 0px; 
  height: 100vh;
}

.home-callout-projects {
  height: 100%;
}

.not-name-container {
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-color: transparent;
  color: white;
}

.hide-btn2-background {
  background-color: transparent;


  border: none;
   border-radius: 3px;
  // box-shadow: 0 -3px 0 rgba(0,0,0,0.15) inset;
   color: #fff;
  letter-spacing: .1em;
   cursor: pointer;
   position: relative;
   text-align: center;
  // text-transform: uppercase;
  text-decoration: none;
   vertical-align: middle;
   white-space: nowrap;
   transition-property: transform;
   transform: translateZ(0);
   transition: box-shadow 0.5s cubic-bezier(0.390, 0.500, 0.150, 1.360);
   
   &:hover {
     box-shadow: 0 0 0 35px rgba(0,0,0,0.25) inset;
     color: white;
   }
  
   &:active {
     transform: translateY(3px);
   }
}




////////////////////////////////////////////////////////////////////
// https://github.com/Leyka/hover-rails
// Hover-rails


