/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';



// Typography Styles
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

// Background gradient
.navbar, .home-callout, .not-name-container {
  //Gradient provided by @_ighosh at uiGradients.com
  // ServQuick from uiGradients.com
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

// Nav Styles
.navbar {
  border: none;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}

// navbar when minimizing screen
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #29323c;
  }
}

// Homepage Styles
.home-callout {
  color:white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.not-name-container {
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-color: transparent;
  color: white;
}


////////////////////////////////////////////////////////////////////
// https://codemyui.com/fancy-button-effects/
// http://codepen.io/rickzanutta/pen/EactG
// Cool buttons
// A PEN BY Riccardo Zanutta
@import "bourbon";


/* Demo styling */

body {
  background-color: #eee;
  box-sizing: border-box;
  font-family: "Futura PT", "Futura", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Buttons at the center */

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -259px;
  margin-left: -89px;
  text-align: center;
}

/* General styling for the links */

.btn2 {
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin: 20px auto;
  
}



/* BUTTON 2 */

.btn2, .btn2:link, .btn2:visited {
   background-color: #29323c;// #5b657c;
   border: none;
   border-radius: 3px;
   box-shadow: 0 -3px 0 rgba(0,0,0,0.15) inset;
   color: #fff;
  letter-spacing: .1em;
   cursor: pointer;
   position: relative;
   text-align: center;
  // text-transform: uppercase;
  text-decoration: none;
   vertical-align: middle;
   white-space: nowrap;
   transition-property: transform;
   transform: translateZ(0);
   transition: box-shadow 0.5s cubic-bezier(0.390, 0.500, 0.150, 1.360);
   
   &:hover {
     box-shadow: 0 0 0 35px rgba(0,0,0,0.25) inset;
     color: white;
   }
  
   &:active {
     transform: translateY(3px);
   }
   
 }


// Bourbon mixin

@include keyframes(gelatine) {
  from,to {
    @include transform(scale(1, 1));
  }
  25% {
    @include transform(scale(0.9, 1.1));
  }
  50% {
    @include transform(scale(1.1, 0.9));
  }
  75% {
    @include transform(scale(0.95, 1.05));
  }
  from,to {
    @include transform(scale(1, 1));
  }
  25% {
    @include transform(scale(0.9, 1.1));
  }
  50% {
    @include transform(scale(1.1, 0.9));
  }
  75% {
    @include transform(scale(0.95, 1.05));
  }
}
