/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';



// Typography Styles
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

// Background gradient
.navbar, .home-callout {
  //Gradient provided by @_ighosh at uiGradients.com
  // ServQuick from uiGradients.com
  background: #485563; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

// Nav Styles
.navbar {
  border: none;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}

// navbar when minimizing screen
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #29323c;
  }
}

// Homepage Styles
.home-callout {
  color:white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

////////////////////////////////////////////////////////////////////

//@import 'url';
* {
		font-family: "Roboto", Arial, sans-serif;
}

body {
		font-size: 1rem;
		background-color: #ebebeb;
		padding: 20px;
		text-align: center;
}

h1 {
		font-weight: 100;
		color: #777;
}

.main-wrapper {
		border-radius: 4px;
		background-color: white;
		padding: 20px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		position: relative;
}

i.material-icons {
		font-size: 1.5rem;
		color: white;
		position: relative;
		border-radius: 50%;
		padding: 5px;
		margin: 3px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

i.material-icons:after {
		content: "";
		width: 100%;
		height: 100%;
		border: solid 2px;
		transform: scale(0.8);
		position: absolute;
		top: -2px;
		left: -2px;
		border-radius: 50%;
		transition: all 0.3s ease;
}

i.material-icons:hover:after {
		transform: scale(1);
		box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

i.material-icons:nth-of-type(4) {
		background-color: #88b999;
}

i.material-icons:nth-of-type(4):hover {
		color: #88b999;
}

i.material-icons:nth-of-type(4):after {
		border-color: #88b999;
}

i.material-icons:nth-of-type(5) {
		background-color: #88b2b9;
}

i.material-icons:nth-of-type(5):hover {
		color: #88b2b9;
}

i.material-icons:nth-of-type(5):after {
		border-color: #88b2b9;
}

i.material-icons:nth-of-type(6) {
		background-color: #8897b9;
}

i.material-icons:nth-of-type(6):hover {
		color: #8897b9;
}

i.material-icons:nth-of-type(6):after {
		border-color: #8897b9;
}

i.material-icons:nth-of-type(7) {
		background-color: #af88b9;
}

i.material-icons:nth-of-type(7):hover {
		color: #af88b9;
}

i.material-icons:nth-of-type(7):after {
		border-color: #af88b9;
}

i.material-icons:nth-of-type(8) {
		background-color: #d59acb;
}

i.material-icons:nth-of-type(8):hover {
		color: #d59acb;
}

i.material-icons:nth-of-type(8):after {
		border-color: #d59acb;
}

i.material-icons:nth-of-type(1) {
		background-color: #cd8484;
}

i.material-icons:nth-of-type(1):hover {
		color: #cd8484;
}

i.material-icons:nth-of-type(1):after {
		border-color: #cd8484;
}

i.material-icons:nth-of-type(2) {
		background-color: #ec9f83;
}

i.material-icons:nth-of-type(2):hover {
		color: #ec9f83;
}

i.material-icons:nth-of-type(2):after {
		border-color: #ec9f83;
}

i.material-icons:nth-of-type(3) {
		background-color: #cdb274;
}

i.material-icons:nth-of-type(3):hover {
		color: #cdb274;
}

i.material-icons:nth-of-type(3):after {
		border-color: #cdb274;
}

i.material-icons:hover {
		background-color: transparent;
		transform: rotate(90deg);
		cursor: pointer;
		box-shadow: none;
}

p {
		color: #999;
		font-weight: 300;
		margin-top: 20px;
}

@media (min-width:601px) {
	i.material-icons {
		padding:10px;
		margin:5px;
		font-size:2rem;
	}
}

@media (min-width:993px) {
	i.material-icons {
		padding:20px;
		margin:10px;
		font-size:4rem;
	}
	i.material-icons:after {
		border-width:3px;
		top:-3px;
		left:-3px;
	}
}